<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center m-4">商品の情報を入力</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    <%# 調整 %>
    </div>
    <div class="col-8">
      <%= form_with(model: @product, local: true, url: user_products_path) do |form| %>
        <div class="form-group">
          <label for='name'>商品名</label>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for='details'>詳細</label>
          <%= form.text_area :details, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for='price'>値段</label>
          <%= form.number_field :price, class: 'form-control', pattern: '0+\.[0-9]*[1-9][0-9]*$', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
        </div>
        <div class="form-group">
          <label for='condition'>商品の状態</label>
          <%= form.select :condition, [ '新品、未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い' ], { include_blank: '---' }, class: 'form-control' %>
        </div>

        <span class="product_images">
          <%= form.fields(model: :product_images) do |fields| %>
            <%= fields.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
            <%= fields.hidden_field :order_number %>
          <% end %>
        </span>



        <%= form.submit "出品する", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-2">
    <%# 調整 %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#product_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>