<h3 class="text-center">購入内容の確認</h3><hr>
<%= form_with(model: @order, local: true, url: user_product_orders_path) do |form| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 offset-2">
        <h4 class="text-center">商品名:<%= @product.name %></h4>
        <h4 class="text-center">支払い方法:<%= @order.payment_method %></h4>

        <h4 class="text-center">商品金額:<%= @product.price %></h4>
        <h4 class="text-center">使用depacariポイント:<%= @order.use_depacari_point %></h4>
        <hr>
        <h4 class="text-center">支払い金額:<%= @payment_amont %></h4>

        <hr>
        <h4 class="text-center">配送先</h4>
        <h4 class="text-center">住所：<%= current_user.address %></h4>
        <h4 class="text-center">氏名：<%= current_user.name %></h4>

        <%= form.hidden_field :product_id, value: @product.id %>
        <%= form.hidden_field :payment_method, value: params[:order][:payment_method] %>
        <%= form.hidden_field :use_depacari_point, value: params[:order][:use_depacari_point] %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="クレジット決済"
                data-name=<%= "#{@product.name}を購入" %>
                data-description="商品名：<%= @product.name %>"
                data-amount="<%= @payment_amont %>"
                data-currency="jpy"
                data-email=<%= "#{current_user.email}" %>
                data-label="購入する"
                data-locale="auto"></script>
                
      </div>
    </div>
  </div>
  
<% end %>