<% @products.each do |product| %>
  <li id="product-<%= product.id %>">
    <span class="user"><%= link_to product.user.name, product.user %></span>
    <span class="name"><%= product.name %></span>
    <span class="details"><%= product.details %></span>
    <span class="price"><%= product.price %></span>
    <span class="condition"><%= product.condition %></span>
    <span class="status"><%= product.status %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(product.created_at) %> ago.
    </span>
    <%= link_to "edit", edit_user_product_path(product) %>
    <%= link_to "delete", user_product_path(product), method: :delete, data: {confirm: "You sure?"} %>


    <%= image_tag product.picture.url if product.picture? %>

  </li>
<% end %>