<h1 class="text-center">製品一覧</h1>
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to product, class:'' do %>
      <div class="card m-2" style="width: 16rem;">

        <%= product.product_images.each do |product_image| %>
          <% if product_image.image.url %>
            <%= image_tag product_image.image.url, class: "card-img-top-trim" %>
            <% break %>
          <% end %>
        <% end %>

        <div class="card-body">
          <p class="card-text">
            <%= product.name %> <%= product.price %>円
            <% if product.status == "sold" %>
              sold
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= will_paginate %>