<h1 class="text-center">製品一覧</h1>
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to product, class:'' do %>
      <div class="card m-2" style="width: 16rem;">
        <%= image_tag product.product_images.first.image.url, class: "card-img-top-trim" %>
        <div class="card-body">
          <p class="card-text">
            <%= product.name %> <%= product.price %>円
          </p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= will_paginate %>